In [ ]:
import pandas as pd # criaacao do dataframe 

dados = {
    'nome':['marcos', 'rubens', 'picolino', 'arnaldo'],
    'idade':[23, 40, 12, 44],
    'naturalidade':['SP', 'AM', 'RJ', 'SP']
}

df = pd.DataFrame(dados)
print(df)

In [ ]:
print(df['nome']) #puxando uma unica coluna

In [ ]:
print(df[df['idade']>30]) # puxando itens expecificos da lista, como pessoas que tem mais de 30 anos. Uma especie de filtro

In [ ]:
print(df[df['nome'] == 'arnaldo']) # puxando nome especifico. mas isso serve tambem para idade e coisa a fim

In [8]:
print(df.loc[1]) #. loc para localizar registros no nosso dataframe
print(df.loc[1:3])

nome            rubens
idade               40
naturalidade        AM
Name: 1, dtype: object

In [9]:
df.head(3) #chama um numero especifico de caraceres

       nome  idade naturalidade
0    marcos     23           SP
1    rubens     40           AM
2  picolino     12           RJ